*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(158, 209, 204);
}
#container{
    width: 500px;
    height: 500px;
    overflow: hidden;
}
img{
    width: 500px;
    height: 500px;
    object-fit: cover;box-shadow: 2px 4px 6px;
    border-radius: 5px;
}











