*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: darkmagenta;
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}












