*{
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#open{
    background-color: darkmagenta;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}
.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;

}
.popup-container.active{
    display: flex;
}

.popup{
    width: 250px;
    height: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.popup button{
    background-color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
}